{% extends 'crud/base.html' %}

{% block body %}

<div class="row">

<div class="col-sm-4">




<div class="border border-muted p-2">
{% if form %}

<form action="" method="post">
{% csrf_token %}

<p class="h4 text-center alert alert-info">Add New Student</p>

{{form.as_p}}

<input type="submit" value="Add" class="alert alert-warning border mb-0 border-warning p-2 text-center form-control">
{% if message %}
<p class="alert alert-success p-2 mt-2 mb-2 form-control border border-success text-center">{{message}}</p>
{% endif %}


{% endif %}
</div>


</form>
</div>


<div class="col-sm-8 table-wrapper-scroll-y my-custom-scrollbar">
<p class="h4 text-center alert alert-info">Our Students Information</p>

{% if data %}

<table class="table table table-bordered table-striped mb-0">


<thead>
<tr>

<th scope="col">Id</th>
<th scope="col">Name</th>
<th scope="col">Email</th>
<th scope="col">Password</th>
<th scope="col">Action</th>
</tr>
</thead>


<tbody>

{% for obj in data %}
<tr>

<th scope="row">{{forloop.counter}}</th>
<td>{{obj.name}}</td>
<td>{{obj.email}}</td>
<td>{{obj.passw}}</td>
<td>
<form action="{% url 'delete' obj.id %}" method="post">
{% csrf_token %}
<input type="submit" class="btn btn-danger" value="Delete"></form>
</td>


</tr>
{% endfor %}

</tbody>
</table>

{% endif %}

</div>


</div>

{% endblock body %}