{% extends '_user/base.html' %}

{% block body %}

Username = {{request.user.username}} <br>
Full name = {{request.user.full_name}} <br>
First name = {{request.user.first_name}} <br>
Last name = {{request.user.last_name}} <br>
Email = {{request.user.email}} <br>
Password = <textarea name="" id="" cols="" rows="">
{{request.user.password}}
</textarea> <br>

<a href="{% url 'logout' %}">   <input type="button" value="Logout">    </a>
<a href="{% url 'changedetails' %}">    <input type="button" value="Change Your Details">   </a>
<a href="{% url 'passchange' %}">   <input type="button" value="Change Your Password">  </a>


{% endblock body %}